@model IEnumerable<EventsApp.Models.MainEvent>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.10.1/main.min.css,npm/fullcalendar@5.10.1/main.min.css" />
<script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.10.1,npm/fullcalendar@5.10.1/main.min.js,npm/fullcalendar@5.10.1/locales-all.min.js,npm/fullcalendar@5.10.1/locales-all.min.js"></script>

<div id='calendar'></div>

<script>
    function GetData() {
        $.ajax({
            type: 'GET',
            url: "/Favourites/GetCalendarData",
            success: function (eventsList) {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    windowResize: false,
                    events: eventsList
                });
                calendar.render();
            },
            error: function (error) {
                alert('Failed');
            }
        })
    }
    GetData();
</script>