@model IEnumerable<EventsApp.Models.MainEvent>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.10.1/main.min.css,npm/fullcalendar@5.10.1/main.min.css" />
<script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.10.1,npm/fullcalendar@5.10.1/main.min.js,npm/fullcalendar@5.10.1/locales-all.min.js,npm/fullcalendar@5.10.1/locales-all.min.js"></script>

<div id='calendar'></div>

<script>
    @*var eventsArray = [];
    eventsArray = function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCalendarData", "Favourites")',
            dataType: 'json',
            success: function (result) {
            }
        })
    };
    console.log('@Url.Action("GetCalendarData", "Favourites")');
    document.addEventListener('DOMContentLoaded', function (eventsArray) {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            /*themeSystem: 'Slate',*/
            windowResize: true,
            //events:eventArray
            //events: '@Url.RouteUrl(new{ action= "GetCalendarData", controller= "Favourites" })'
            events: '@Url.Action("GetCalendarData", "Favourites")'
            //events: [
            //    {
            //        title: 'test',
            //        description: 'aaa',
            //        start: '2021-12-08',
            //        end: '2021-12-10',
            //        color: "green"
            //    }
            //]
        });
        calendar.render();
    });*@
    //function GenerateCaledar(events) {
    //    var calendarEl = document.getElementById('calendar');
    //    var calendar = new FullCalendar.Calendar(calendarEl, {
    //        initialView: 'dayGridMonth',
    //        /*themeSystem: 'Slate',*/
    //        windowResize: true,
    //        eventSources: [events]
    //    });
    //    calendar.render();
    //}
    function GetData() {
        $.ajax({
            type: 'GET',
            url: "/Favourites/GetCalendarData",
            success: function (events) {
                console.log(events);
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    /*themeSystem: 'Slate',*/
                    windowResize: true,
                    events: events
                });
                calendar.render();
            },
            error: function (error) {
                alert('Failed');
            }
        })
    }
    GetData();
</script>