@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="text-center">
    <h1 style="margin:20px"><b>Rejestracja zakończona pomyślnie</b></h1>
    <hr />

    <p>
        Możesz się zalogować.
    </p>
    <img src="~/images/checked.png" style="width:200px; margin-top:50px" />
</div>