@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<div class="text-center">
    <h1 style="margin:20px"><b>Potwierdzenie rejestracji</b></h1>
    <hr />

    <p>
        Na podany przy rejestracji email została wysłana wiadomość. Prosimy o kliknięcie w przesłany link w celu dokończenia rejestracji.
    </p>
    <img src="~/images/envelope.png" style="width:200px; margin-top:50px"/>
</div>

