@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>

<p>
        Na podany przy rejestracji email została wysłana wiadomość. Prosimy o kliknięcie w przesłany link w celu dokończenia rejestracji.
</p>

