@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="text-center" style="margin-inline:auto">
    <h1 style="margin:20px"><b>Zarządzanie kontem</b></h1>
    <hr />
    <div class="row">
        <div class="  text-center" style="margin-inline:auto">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9 text-left">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
