@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.card {
    transition: 0.5s;
    cursor: pointer;
}

.card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

    .card-title i {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
        color: #ffa710
    }

        .card-title i:hover {
            transform: scale(1.25) rotate(100deg);
            color: #18d4ca;
        }

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-text {
    /*height: 80px;*/
}

.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}

.own-nav{
    background-color:#AAA;
}

.navbar {
    border-radius: 0px;
}

.fa {
    position: relative;
    width: 35px;
    font-size: 30px;
    top: 3px;
}

a{
    color:black;
}

.MostInterestingEvents {
    /*background-color: forestgreen;*/
    height: 500px;
    /*width:1520px;*/
    width: 100%;
    margin-inline:auto;
    margin-left:20px;
}

.main {
    margin: 0px;
}

.MainPart{
    width:100%;
    margin:0px;
    padding:0px;
}

.container {
    margin: 0px;
    padding: 0px;
    width: 1520px;
}

.SingleEvent {
    border: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    margin-inline: auto;
    height: 350px;
    width: 250px;
    margin: 15px;
    padding: 0px;
    font-size:15px;
    /*float:left;*/
    background-color:antiquewhite;
}

.EventLink:hover {
/*        -webkit-filter: opacity(.5);
    filter: opacity(.5);*/
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
/*    -webkit-filter: saturate(6);
    filter: saturate(6);*/
}

.MainPic {
    text-align: left;
}

aside{
    background-color:red;
    height:600px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

#DateDiv, #CityDiv {
    float: left;
    align-content:center;
}

#TypeDiv{
    align-content:center;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*background-color:cornsilk;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#SearchDiv {
    background-color: bisque;
    border-style: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-color: black;
    padding: 15px;
    width:100%;
    margin:0;
}

.entry-card {
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}

.entry-content {
    background-color: #fff;
    padding: 36px 36px 36px 36px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

    .entry-content .entry-title a {
        color: #333;
    }

        .entry-content .entry-title a:hover {
            color: #4782d3;
        }

    .entry-content .entry-meta span {
        font-size: 12px;
    }

.entry-title {
    font-size: .95rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.entry-thumb {
    display: block;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

    .entry-thumb img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .entry-thumb .thumb-hover {
        position: absolute;
        width: 100px;
        height: 100px;
        background: rgba(71, 130, 211, 0.85);
        display: block;
        top: 50%;
        left: 50%;
        color: #fff;
        font-size: 40px;
        line-height: 100px;
        border-radius: 50%;
        margin-top: -50px;
        margin-left: -50px;
        text-align: center;
        transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
    }

    .entry-thumb:hover .thumb-hover {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }

.article-post {
    border-bottom: 1px solid #eee;
    padding-bottom: 70px;
}

    .article-post .post-thumb {
        display: block;
        position: relative;
        overflow: hidden;
    }

        .article-post .post-thumb .post-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            transition: all .3s;
            -webkit-transition: all .3s;
            opacity: 0;
        }

            .article-post .post-thumb .post-overlay span {
                width: 100%;
                display: block;
                vertical-align: middle;
                text-align: center;
                transform: translateY(70%);
                -webkit-transform: translateY(70%);
                transition: all .3s;
                -webkit-transition: all .3s;
                height: 100%;
                color: #fff;
            }

        .article-post .post-thumb:hover .post-overlay {
            opacity: 1;
        }

            .article-post .post-thumb:hover .post-overlay span {
                transform: translateY(50%);
                -webkit-transform: translateY(50%);
            }

.post-content .post-title {
    font-weight: 500;
}

.post-meta {
    padding-top: 15px;
    margin-bottom: 20px;
}

    .post-meta li:not(:last-child) {
        margin-right: 10px;
    }

    .post-meta li a {
        color: #999;
        font-size: 13px;
    }

        .post-meta li a:hover {
            color: #4782d3;
        }

    .post-meta li i {
        margin-right: 5px;
    }

    .post-meta li:after {
        margin-top: -5px;
        content: "/";
        margin-left: 10px;
    }

    .post-meta li:last-child:after {
        display: none;
    }

.post-masonry .masonry-title {
    font-weight: 500;
}

.share-buttons li {
    vertical-align: middle;
}

    .share-buttons li a {
        margin-right: 0px;
    }

.post-content .fa {
    color: #ddd;
}

.post-content a h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0px;
}

.article-post .owl-carousel {
    margin-bottom: 20px !important;
}

.post-masonry h4 {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.media-body h5 a {
    color: #555;
}

.categories li a:before {
    content: "\f0da";
    font-family: 'FontAwesome';
    margin-right: 5px;
}
/*
Template sidebar
*/

.sidebar-title {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.categories li {
    vertical-align: middle;
}

    .categories li > ul {
        padding-left: 15px;
    }

        .categories li > ul > li > a {
            font-weight: 300;
        }

    .categories li a {
        color: #999;
        position: relative;
        display: block;
        padding: 5px 10px;
        border-bottom: 1px solid #eee;
    }

        .categories li a:before {
            content: "\f0da";
            font-family: 'FontAwesome';
            margin-right: 5px;
        }

        .categories li a:hover {
            color: #444;
            background-color: #f5f5f5;
        }

.categories > li.active > a {
    font-weight: 600;
    color: #444;
}

.media-body h5 {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 20px;
    font-weight: 400;
}

    .media-body h5 a {
        color: #555;
    }

        .media-body h5 a:hover {
            color: #4782d3;
        }