@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>*@
        <li class="p-2 text-light" style="position:relative;top:12px;font-size:18px;margin-right:10px">Zalogowano jako <b>@User.Identity.Name</b></li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <div>
                    <i class="fa fa-user-circle-o"></i>Konto
                </div>
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">
                    <i class="fa fa-sign-out"></i>Wyloguj
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <div>
                    <i class="fa fa-user-plus"></i>Rejestracja
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <div>
                    <i class="fa fa-user"></i>Login
                </div>
            </a>
        </li>
    }
</ul>
